<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Join <%= originationName %></title>
</head>
<body class="is-preload">
<div id="wrapper">
    <% if (locals.avatar_url) { %>
        <section id="main">
            <header>
                <span class="avatar"><img src="<%= avatar_url %>" alt=""/></span>
                <h1><%= originationName %></h1>
                <p>Welcome,<%= name %>.</p>
                <p>Click the button below to join us</p>
            </header>
            <footer>
                <a href="/join?login=<%= login %>" class="button">Join US</a>
            </footer>
        </section>
    <% } else { %>
        <section id="main">
            <header>
                <span class="avatar"><img src="static/images/avatar.jpg" alt=""/></span>
                <h1><%= originationName %></h1>
                <p>Welcome to Join US</p>
            </header>
            <footer>
                <ul class="icons">
                    <li><a href="/github/login" class="icon brands fa-github">GitHub</a></li>
                </ul>
            </footer>
        </section>
    <% } %>
    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; <%= originationName %></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>Powered by: <a href="https://github.com/CokeMine/MoeInviter">MoeInviter</a></li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-preload\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>

</body>
</html>